/* Destaque do campeão */
tr.camp {
    background-color: gold;
    font-weight: bold;
}

/* Classificados para Libertadores */
tr.lib {
    background-color: #add8e6; /* azul claro */
}

/* Pré-Libertadores */
tr.eli {
    background-color: #87cefa; /* azul mais intenso */
}

/* Classificados para Sul-Americana */
tr.sul {
    background-color: #e0ffff; /* azul bem clarinho */
}

/* Rebaixados */
tr.reb {
    background-color: #f08080; /* vermelho claro */
}

/* Apenas para ter uma transição suave ao gerar novas rodadas */
tr {
    transition: background-color 0.3s ease;
}

.round {
    margin-bottom: 1.5rem;
}

.round h3 {
    margin: 0.5rem 0;
}

.round ul {
    list-style-type: none;
    padding-left: 0;
}