
tr.camp {
    background-color: gold;
    font-weight: bold;
}

tr.lib {
    background-color: #448FF2;
}

tr.eli {
    background-color: #F26A1B;
}

tr.sul {
    background-color: #33A650; 
}


tr.reb {
    background-color: #F23838; 
}

td,th {
    transition: background-color 0.3s ease;
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;

}

tr.tDefault {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;

    background-color: #090A0D;
    color: #BDC1C6;
  }

.round {
    margin-bottom: 1.5rem;
}

.round h3 {
    margin: 0.5rem 0;
}

.round ul {
    list-style-type: none;
    padding-left: 10px;
    width: 100%;
}

.round ul li{
    border: 2px solid #BDC1C6;
    border-collapse: collapse;

    font-size: 20px;
}

.table{
    display: flex;
    flex-direction: row;
}

.bras{
    margin: 0 auto;
}

@media(width <= 768px){
    .table{
        display: flex;
        flex-direction: column;
    }
    .games{
        width: 500px;
    }   
    .gamesInfo, .sg{
        display: none;
    }
    table{
        max-width: 500px;
    }

}

@media(width <= 607px){
    table{
        margin: 0;
    }
}