  table {
    border-collapse: collapse;
    color:#090A0D
  }

  .tDefault {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;

    background-color: #090A0D;
  }

  th {
    background: #004d99;
    color: white;
  }

  tr:nth-child(even) {
    background: #f9f9f9;
  }
  p{
    margin: 10px;
  }
